
   /*
  ////////////////////
 //  FONT UPDATE   //
////////////////////
*/



body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

.blox-flip-cv{
  background-color: #F7F7F7;
}

.flip-section-title{
  padding: 3rem 10px 0px 0px;
}

.flip-section-md{
  padding: 2rem 10px 0px 0px;
}

/*
  ////////////////////
 // CRYPTED E-MAIL //
////////////////////
*/



/* specifically: https://stackoverflow.com/a/41566570 */
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
/*
USAGE:
<a data-name="info" data-domain="test" data-tld="com" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
*/



/*
  //////////////////////////////////
 // CV / BIOGRAPHY WIDGET / BLOX //
//////////////////////////////////
*/

.sidebarpic{
  /* sets max size  */
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
}



/*
  //////////////////////////////////
 // FOOTER BAR WITH FEYNMAN      //
//////////////////////////////////
*/
/*  this is the trucky one */

footer {
  /* Not sure if this is still relevant (this is from 2018)
  /* the default template defines footer margin/padding according to rem */
  /* but rem scales according to the bootstrap responsive design */
  /* which makes it hard to place botbar1 */
  /* by using absolute pixels, one can tune botbar1 "top" parameter */
  margin: 64px 0 0;
  padding: 32px 0;
}

#botbar1{
  /* This is the horizontal line */
	background-color:#C1BBAB;
	margin: 0;
	padding: 0;
  	position:relative;
  	top: 100px;
	left: 0px;
	z-index: 9;
	height: 7px;
	width: 100%;
}


#feynmanfoot{
  /* Feynman Diagram */
	background-size: 250px 200px;
	background-repeat:no-repeat;
	background-position:left top;
  	pointer-events: none;
	margin: 0;
	padding: 0;
  	position: relative;
  	bottom: 60px;
  	left: 40vw;
	z-index: 200;
	height: 200px;
	width: 250px;
	text-align: right;
}

#FOOTERBAR{
  /* for the side bands that surround the footer */
  /* see layouts/_default/baseof.html */
  background-color:#012622;
}

/* Successive layers of background coloring  */
/* "lowest" layer first */

body{
  /* Kludge for overscrolling */
  /* When you "pull up" beyond the page,  
     this makes the overscroll match the navbar 
     and footer bar colors. */
  background-color: #012622;
}

#THECONTENT{
  /* previously: gives white background for content */
  /* this is now needed to color the very bottom of
     the view screen. */
  /* Amusingly, it does not even need to be colored.  */
  background-color: #012622; /* you can even skip this */
  /* see my notes. */
}

#PAGEBODY{
  /* this is the true "body", we want it white */
  background-color: #ffffff;
}

#section-resume-biography-flip{
	/* This is a total kludge */
	/* Something about imposing background-color on
     #THECONTENT and #PAGEBODY causes the first block
     to lose its background. It turns out you can save it
     by giving that block a large z-valuee.
     Fortunately, the theme automatically separates blocks
     by <section> tags with ID = to the block name.
     So whatever block you use (resume-biogrpahy-3 
     is default), be sure to give it a large z-index.
      */
	z-index: 1;
}


/* Footer styling  */

.powered-by{
  color: #065522;
  text-decoration: none;
}

.powered-by a:link, a:visited, a:hover, a:active{
  color: #079669;
  text-decoration: none;
}


