/*
////////////////////
// CRYPTED E-MAIL //
///////////////////
*/

/* specifically: https://stackoverflow.com/a/41566570 */
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
/*
USAGE:
<a data-name="info" data-domain="test" data-tld="com" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
*/



/*  for CV WIDGET  */

.sidebarpic{
  /* sets max size  */
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
}



/*  FOOTER BAR PLACEMENT */

footer {
  /* background-color:#333333; */
  /* Not sure if this is still relevant (this is from 2018)
  /* the default template defines footer margin/padding according to rem */
  /* but rem scales according to the bootstrap responsive design */
  /* which makes it hard to place botbar1 */
  /* by using absolute pixels, one can tune botbar1 "top" parameter */
  margin: 64px 0 0;
  padding: 32px 0;
}

#botbar1{
  /* This is the horizontal line */
	background-color:#C1BBAB;
	margin: 0;
	padding: 0;
  	position:relative;
  	top: 100px;
	left: 0px;
	z-index: 9;
	height: 7px;
	width: 100%;
}


#feynmanfoot{
  /* Feynman Diagram */
	background-size: 250px 200px;
	background-repeat:no-repeat;
	background-position:left top;
  	pointer-events: none;
	margin: 0;
	padding: 0;
  	position: relative;
  	bottom: 90px;
  	left: 40vw;
	z-index: 200;
	height: 200px;
	width: 250px;
	text-align: right;
}

#FOOTERBAR{
  /* for the side bands that surround the footer */
  /* see layouts/_default/baseof.html */
  background-color:#012622;
}

#THECONTENT{
  /* div that stores content, gives it a white background */
  /* for aesthetics when "overscrolling" */
  /* see layouts/_default/baseof.html */
  /* dark color background, covers below the bottom bar  */
  background-color: #012622;
  /* PROBLEM: this  paints over the background of the bio blox  */
}

#PAGEBODY{
  /* this is the true "body", we want it white */
  background-color: #ffffff;
  /* PROBLEM: this  paints over the background of the bio blox  */
}

#section-resume-biography-flip
{
	z-index: 250;
}

/* Kludge for overscrolling */
/* Color the background */
body{
  background-color: #012622;
}